@use 'vuetify/settings' with (
  // Reference vuetify/lib/settings
  $utilities: false,
  $color-pack: false,
  $application-color: rgb(var(--v-theme-on-background)),
  $application-background: #FFFFFF,
  $app-bar-background: #FFFFFF,
  $app-bar-color: rgb(var(--v-theme-text)),
  $breadcrumbs-item-disabled-opacity: 1,
  $button-background: rgb(var(--v-theme-primary)),
  $button-color: rgb(var(--v-theme-on-primary)),
  $button-disabled-opacity: 1,
  $button-elevation: ('default': 0, 'hover': 2, 'active': 4),
  $button-font-weight: 700,
  $button-plain-opacity: 1,
  $button-text-transform: 'none',
  $chip-font-size: 12px,
  $chip-font-weight: 700,
  $chip-padding-ratio: 1.4,
  $input-density: ('default': -2, 'comfortable': -3.5, 'compact': -5), // $multiplier
  $field-font-size: 1rem,
  $field-label-floating-scale: 1rem,
  $input-control-height: 50px,
  $list-color: rgb(var(--v-theme-text)),
  $navigation-drawer-background: #FFFFFF,
  $pagination-item-margin: 9px,
  $ripple-animation-visible-opacity: calc(.12 * var(--v-theme-overlay-multiplier)),
  $size-scales: (
    'x-small': -1.25,
    'small': -1,
    'default': -0.75,
    'large': -0.5,
    'x-large': -0.25,
  ),
  $table-background: transparent,
  $table-color: rgb(var(--v-theme-text)),
  $table-header-font-weight: 700,
  $table-header-height: 28px,
  $table-row-height: 40px,
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), 1)
);
